@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(../img/img.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
}
form{ 
    background-color: rgb(141, 201, 254);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 2);
}
h1{
    text-align: center;
    font-size: 20px;
}
hr{
    margin: 10px 0;
    background-color: azure;
    height: 1px;
    width: 100%;
}
button{
    margin-top: 15px;
    background-color:rgb(33, 151, 255);
    color: rgb(16, 15, 15);
    border: 1px solid #0f1617;
    border-radius: 4px;
    width: 200Px;
}
button:hover{
    background-color:rgb(0, 112, 211);
    color: rgb(255, 254, 254);
    border: 1px solid #ffffff;
    cursor: pointer;
    width: 190px;
}